@import "~normalize.css";
@import "_variables";
@import "modules/hello.scss";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Lobster&family=Noto+Serif+Display:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Kaushan+Script&family=Lobster&family=Noto+Serif+Display:ital,wght@1,700&display=swap');

html {
  
}
::after {
  box-sizing: inherit;
}
body {
  
  background: $wtf;
}

/*styles for all pages */
.box-primary {    
  width: 100%;
  display: flex;     
  flex-wrap: wrap;
  top: 40px;
}

.main {
  width: 100%;  
  margin: auto;  
  
}
.main-gallery{
  width: 100%;  
  margin: auto;  
  display: flex;
  flex-wrap: wrap;
}
.top-box {
  width: 100%;  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px auto 20px auto;  
 
}
.skaza-top {
  width: 100%;  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;  
  min-height: 300px; 
}


a {
  text-decoration: none;
  font-size: 30px;
}

h1 {
  font-family: 'Domine', serif;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Noto Serif Display', serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #edda90;
  margin-bottom: 20px;
  padding: 16px;
}
h2 {
  font-family: 'Domine', serif;
  font-family: 'Lobster', cursive;
  font-family: 'Noto Serif Display', serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #edda90;
  margin-bottom: 20px;
  padding: 16px;
}
h3 {
  font-family: "Akaya Kanadaka", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: black;
  margin: 16px;
  padding: 16px;
}
.main_logo {
  display: block;
  margin: 0px auto;
  max-width: 430px; 
}
.logo {
  display: block;
  margin: 0px auto;
  max-width: 230px; 
}
.img-logo {   
  height: auto; 
  margin-top: 100px;  
  max-width: 100%;    
  overflow: auto;
}
.P7 {
  font-family: "Akaya Kanadaka", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #edda90;
  margin: 16px;
  padding: 16px;
  text-shadow: black 0.1em 0.1em 0.2em
}
/* styles for gallery page*/
.box1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  width: 1200px;
  margin: auto auto 50px auto;
  padding: 16px;
}
.box2 {
  display: inline-block;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 240px;
  overflow: auto;
  border-radius: 16px;
  margin: 16px; 
  background: rgb(2,0,36);
  background: linear-gradient(41deg, 
              rgba(2,0,36,1) 0%, rgba(173,182,196,1) 0%, 
              rgba(0,212,255,0.039653361344537785) 0%); 
}
.box3 {
  align-items: flex-start;
  max-height: 48px;
  margin: 0%;
  padding: 0%;
  
}
.box4 {
  align-items: flex-end;  
}
.box5 {
  
  margin: 0%;
  padding: 0%;
  
}
.P8 {
  font-family: "Akaya Kanadaka", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #edda90;
  margin-bottom: 20px;
  padding: 16px;
}
.P9 {
  font-family: "Akaya Kanadaka", sans-serif;
  font-size: 12px;
  line-height: 1.6em;
  text-align: center;
  color: white;  
  margin: 10px;
  
}
.img-fluid {
  max-width: 100%;
  height: auto;
  padding: 10;
  overflow: auto;
}

/* styles for index page*/
.description {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 300px;
  max-width: 600px;
  color: tomato;
  margin: 20px auto;
  padding: 16px;
}
.box-bright{
  background: #BDBDBD;
  width: 100%;  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;  
  
}
.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 300px;
  margin: 10px auto;
    
}
.P5{
  color: black;
  font-family: 'Domine', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 3em;
  text-align: center;    
  max-width: 700px;
  padding: 16px; 
  box-sizing: border-box;
  margin: auto;
}
.P6{
  color: #fff;
  font-family: 'Domine', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  text-align: justify;  
 
  padding: 16px; 
  box-sizing: border-box;
  margin: auto;
}
.quote {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  margin: 10px auto;
  align-items: center;
  min-height: 300px;
}
.quote-inside {
  min-height: 150px;
  max-width: 200px;
  margin: 25px auto 25px auto;
  overflow: auto;
  border-radius: 5px;
  padding: 20px;  
  text-align: center;
  font-size: 16px;
  font-family: "Akaya Kanadaka", sans-serif;
  color: #fff;
  top: 50%;
}
.opinion{
  width: 100%;    
  flex-wrap: wrap;
  min-height: 200px;
}


/* styles for price page*/
.book{
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.article {
  max-width: 300px;
  
}
.center {
  max-width: 300px;
  
}
.aside {
  max-width: 300px;
  
  
}
.bottom-left {
  display: flex;
  text-align: center;
  max-width: 300px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
 
}
.exchange {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
 
}


.P1 {
  font-family: "Akaya Kanadaka", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #edda90;
  margin: 16px;
  padding: 16px;
}
.P2 {
  font-family: "Akaya Kanadaka", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: white;
  margin: 16px;
  padding: 16px;
}
/* styles for statute page*/
ul {
  list-style-type: disc;
}
li {  
}
.footer {
  width: 100%;
  min-height: 500px;
  background-color: #666;
}
.statute { 
  display: flex;
  align-items: center;
  max-width: 1200px;
  overflow: auto;
  padding: 20px;
  margin: 25px auto 25px auto;   
}
.rules{
  line-height: 2;
  color: #fff;
  font-family: "Akaya Kanadaka", sans-serif;
  font-size: 16px;
}
/* styles for contact page*/
.contact {
  background: #BDBDBD;
  display: flex;
  min-height: 500px;
  flex-wrap: wrap;
  padding: 16px;
  justify-content: space-around;
  margin: 16px auto 0px auto;
  
  
  
}
.contact-2 {
  display: inline-block; 
  overflow: auto; 
  padding: 20px;
  margin: 0;
}
.bottom {
  
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-items: center;
  margin: 16px auto 16px auto;
}
.social {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;
  max-width: 250px;  
  margin: auto;
}
.media {
  max-width: 50px;
  max-height: 50px;
  margin: 0px 32px 0px 32px;
  justify-content: space-between;
  filter: grayscale(100%) brightness(400%);
  
}
.media:hover {
  transform: scale(1.2);
  filter: grayscale(10%);
}
.phone {
  color: black;
  font-family: 'Domine', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  text-align: justify;  
  max-width: 100px;
  padding: 16px; 
  box-sizing: border-box;
  margin: auto;
}
.map-box {
  width: 100%;  
  display: flex;  
  justify-content: center;  
  box-sizing: border-box; 
  background: #BDBDBD;
  height: 400px; 
  flex-wrap: wrap;  
  margin: 0%;
}
.map {  
  width: 100%;
  height: 100%;
  margin: 0;  
  background: #BDBDBD;
  margin: 0%;
  
}
.P3 {
  font-family: "Akaya Kanadaka", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #edda90;
  margin-top: 10px auto;
}
.P4 {
  color: #fff;
  font-family: 'Domine', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  text-align: center;  
  max-width: 300px;
  padding: 16px; 
  box-sizing: border-box;
  margin: auto;
}



/* styles for navigation*/
.header {
  background: black;
  min-height: 50px;  
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  
}
.hamburger {
  position: fixed;  
  right: 25px;
  border: none;
  background: none;  
  color: #fff;
}

.navigation {
  padding: 16px;
  display: none;
  
  &__link {
      color: #edda90;;
      display: block;
      margin: 0 0 16px;
      font-size: 12px;
      text-align: center;
  }
  &__link:hover{
  color: tomato;
  }  
  &--open {
    display: block;
    text-align: center;
    }
  
}

@media (min-width: 800px){
  .img-logo {   
    height: auto;   
    max-width: 100%;    
    overflow: auto;
  }
  .top-box {
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px auto 20px auto;  
    height: 100vh;
  }
 
  h1 {
    font-family: 'Domine', serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Serif Display', serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #edda90;
    margin-bottom: 20px;
    padding: 16px;
  }
  h2 {
    font-family: 'Domine', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Serif Display', serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #edda90;
    margin-bottom: 20px;
    padding: 16px;
  }
  h3 {
    font-family: "Akaya Kanadaka", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: #edda90;
    margin: 16px;
    padding: 16px;
  }
  .box-bright{
    background: #BDBDBD;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
  }
  .header {
    display: flex;
    margin: 0 auto;
    top: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    background: black;
    min-height: 50px;
    justify-content: space-around;
    align-items: center;
  }
  .hamburger {
    display: none;
    position: absolute;
    color: #fff;
    top: 19px;
    right: 25px;
    border: none;
    background: none;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 30px;
    justify-content: space-between;    
    margin: 0 auto;
    min-width: 500px;
  }  
  .navigation__link {
    color: #edda90;;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 19px;
    
    margin: auto;
    min-width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;    
    letter-spacing: 2.7px;
  }
  .map-box {
    width: 100%;
    padding: 0%;
    display: flex;  
    justify-content: center;  
    box-sizing: border-box; 
    background: none;
    height: 400px; 
    flex-wrap: wrap;  
    margin: 0%;
    background: #BDBDBD;
  }
  .map {
    margin: 0%;
    height: 100%;
    margin-left: -30px;  
    padding-left: 30px;
    background: #BDBDBD;
  }
  .opinion{
    width: 100%;     
   flex-wrap: wrap;
   min-height: 200px;
 }
 
.quote-inside {
  min-height: 150px;
  max-width: 200px;
  margin: 25px auto 25px auto;
  overflow: auto;
  border-radius: 5px;
  padding: 20px;  
  text-align: center;
  font-size: 16px;
  font-family: "Akaya Kanadaka", sans-serif;
  color: #fff;
  top: 50%;
}

.social {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;
  min-width: 450px;  
}
.book{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.grid {
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  grid-template-rows: minmax(100px, auto);
  margin: 16px;
  max-width: 800px;
}
.article {
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: 6;
}
.center {
  max-width: 100%;
  grid-column-start: 5;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: 6;
}
.aside {
  max-width: 100%;
  grid-column-start: 9;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: 6;
}
.bottom-left {
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: span 7;
  grid-row-start: 7;
  grid-row-end: 9;
}
.exchange {
  max-width: 100%;
  grid-column-start: 9;
  grid-column-end: span 3;
  grid-row-start: 7;
  grid-row-end: 9;
}
.P1 {
  font-family: "Akaya Kanadaka", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #edda90;
  margin: 16px;
  padding: 16px;
}
.P2 {
  font-family: "Akaya Kanadaka", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: white;
  margin: 16px;
  padding: 16px;
}
 

}