@import "~normalize.css";
@import "_variables";

@import "modules/gallery.scss";
@import "modules/statute.scss";
@import "modules/price.scss";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Kaushan+Script&family=Lobster&family=Noto+Serif+Display:ital,wght@1,700&family=Oswald:wght@500;700&family=Poppins:ital,wght@1,300&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Kaushan+Script&family=Lobster&family=Noto+Serif+Display:ital,wght@1,700&family=Oswald:wght@500;700&family=Poppins:ital,wght@1,300&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Domine:wght@700&family=Kaushan+Script&family=Lobster&family=Noto+Serif+Display:ital,wght@1,700&family=Oswald:wght@400;700&family=Poppins:ital,wght@1,300&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Lobster&family=Noto+Serif+Display:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Kaushan+Script&family=Lobster&family=Noto+Serif+Display:ital,wght@1,700&display=swap');

html {  
}
::after {
  box-sizing: inherit;
}
body {  
  background: $wtf;
}
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 300px;
  max-width: 600px;
  color: tomato;
  margin: 20px auto;
  padding: 16px;
}
.heropanel--video {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:500px;
}
@keyframes gm-slidein {
from {
    -webkit-transform:translate3d(-100%,0,0);
    opacity:0;
    transform:translate3d(-100%,0,0);
}
to {
    -webkit-transform:none;
    opacity:1;
    transform:none;
}
}
.heropanel__content {
-moz-animation:gm-slidein 3s 1;
-ms-animation:gm-slidein 3s 1;
-o-animation:gm-slidein 3s 1;
-webkit-animation:gm-slidein 3s 1;
animation:gm-slidein 3s 1;
max-width: 100%;
padding: 0;
text-align:center;
}
.heropanel__content h1 {
  margin: 0%;
  padding: 0%;
}
.heropanel__content h1 a {
  font-family: 'Domine', serif;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Noto Serif Display', serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #FFE55C;
}
body {    
  width: 100%;
  display: flex;     
  flex-wrap: wrap;
  top: 40px;
}
.main {
  width: 100%;  
  margin: auto;    
}
.care {
  width: 100%;  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px auto 20px auto; 
  &__box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 300px;
    max-width: 600px;
    color: tomato;
    margin: 20px auto;
    padding: 16px;
  }  
  &__text{
    color: #fff;
    font-family: 'Domine', serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    font-size: 16px;
    font-weight: 400;
    line-height: 2em;
    text-align: justify;   
    padding: 16px; 
    box-sizing: border-box;
    margin: auto;
  }
}
.company {
  width: 100%;  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px auto 20px auto;   
  &__logo{
    display: block;
    margin: 0px auto;
    max-width: 430px; 
  }
  &__img{
    height: auto; 
    margin-top: 100px;  
    max-width: 100%;    
    overflow: auto;
  }
}
.skaza {
  width: 100%;  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;  
  min-height: 300px; 
  &__logo{
    display: block;
    margin: 0px auto;
    max-width: 230px; 
  }
  &__img{
    height: auto; 
    margin-top: 100px;  
    max-width: 100%;    
    overflow: auto;
  }
}
a {
  text-decoration: none;
  font-size: 30px;
}
h1 {
  font-family: 'Domine', serif;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Noto Serif Display', serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #FFE55C;
  margin-bottom: 20px;
  padding: 16px;
}
h2 {
  font-family: 'Domine', serif;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Noto Serif Display', serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Righteous', cursive;    
  font-size: 30px;
  text-align: center;
  color: #FFE55C;
  margin-bottom: 20px;
  padding: 16px;
}
h3 {
  font-family: 'Domine', serif;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Noto Serif Display', serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Righteous', cursive;    
  font-size: 30px; 
  text-align: center;
  color: black;
  margin: 16px;
  padding: 16px;
}
.studio{
  background: #E1E1E1;
  width: 100%;  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;   
  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 300px;
    margin: 10px auto;    
  } 
  &__text{     
    font-family: 'Domine', serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    font-size: 16px;
    line-height: 2em;
    text-align: center;    
    max-width: 700px;
    padding: 16px; 
    box-sizing: border-box;
    margin: auto;   
  }
}
.P5{
  color: black;
  font-family: 'Domine', serif;
  font-size: 16px;
  font-weight: 400;
  max-height: 100px;
  line-height: 3em;
  text-align: center;    
  max-width: 700px;
  box-sizing: border-box;
  margin: 16px auto;
}
.P7 {
  font-family: 'Domine', serif;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Noto Serif Display', serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Righteous', cursive;    
  font-size: 20px;   
  font-weight: 700;
  text-align: center;
  color: black;
  margin: 16px;
}
.quote {
  width: 100%;    
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 200px;
  &__header{
    font-family: 'Domine', serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;  
    letter-spacing: 6px;      
    font-size: 30px;    
    text-align: center;
    color: #FFE55C;
    padding: 16px;
  }
  &__box{
    display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100px;
  margin: 10px auto;
  align-items: center; 
  }   
  &__inside{
    min-height: 150px;
    max-width: 200px;
    margin: 25px auto 25px auto;
    overflow: auto;
    border-radius: 10px;
    padding: 20px;      
    top: 50%;
    border-radius: 16px;
    background: black; 
  }
  &__text{
    font-family: "Akaya Kanadaka", sans-serif;
  font-size: 16px; 
  color: #fff;
  text-align: center;
  }
  &__finger {
    display: block;
    margin: 0px auto;
    max-width: 230px; 
  }
  &__touch {  
    margin: 0px auto 20px auto ;
    max-width: 230px;
    &:hover {
      transform: scale(1.2);
      filter: grayscale(10%);
    } 
  }
}
.contact {
  background: #BDBDBD;
  display: flex;
  min-height: 500px;
  flex-wrap: wrap;
  padding: 16px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 0px auto;
  height: 100%;     
  &__box{
    display: inline-block;
    justify-content: center;
    align-items: center; 
    overflow: auto; 
    padding: 0;
    margin: 0;
  }
  &__social{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 250px;  
    min-height: 100px;
    margin: 16px 0 16px 0;
  }
  &__link{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 250px;  
    min-height: 100px;
  }
  &__number{
    color: black;
    font-family: 'Domine', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
    max-width: 700px;
    box-sizing: border-box;
    margin: auto;
    max-width: 250px;  
    min-height: 100px;
  }
  &__media {
    min-width: 50px;
    max-height: 50px;
    margin: 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%) brightness(-400%);  
    &:hover {
      transform: scale(1.2);
      filter: grayscale(10%);
    }  
  }
  &__smartphone {
    max-width: 50px;
    max-height: 50px;
    margin: 0px ;
    justify-content: space-between;  
    &:hover {
      transform: scale(1.2);
      filter: grayscale(10%);
    }
  }
  &__phone {
    color: black;
    font-family: 'Domine', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1em;
    text-align: justify;  
    
    padding: 0; 
    box-sizing: border-box;
    margin: 0;
  }
}

.map-box {
  width: 100%;  
  display: flex;  
  justify-content: center;  
  box-sizing: border-box; 
  background: #BDBDBD;
  height: 400px; 
  flex-wrap: wrap;  
  margin: 0%;
}
.map {  
  width: 100%;
  height: 100%;
  margin: 0;  
  background: #BDBDBD;
  margin: 0%;  
}
/* styles for navigation*/
.nav {
  background: black;
  min-height: 50px;  
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;  
}
.hamburger {
  position: fixed;  
  right: 25px;
  border: none;
  background: none;  
  color: #fff;
}
.navigation {
  padding: 16px;
  display: none;  
  &__link {
    font-family: 'Domine', serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    color: #FFE55C;
    display: block;
    margin: 0 0 16px;
    font-size: 16px;
    text-align: center;
  }
  &__current {
    font-family: 'Domine', serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    color: #FFE55C;
    display: block;
    
    margin: 0 0 16px;
    font-size: 16px;
    text-align: center;
  }

  &__link:hover{
  color: tomato;
  }  
  &--open {
    display: block;
    text-align: center;
  }  
}
footer{
  max-height: 20px;
  background-color: black;
  width: 100%;
  color: white;
  text-align: right;  
}
.author{ 
  color: white;
  text-align: right;  
  font-size: 12px;
  padding-right: 16px;
}
@media (min-width: 800px){    
  .company__img {   
    height: auto;   
    margin-top: 100px;
    max-width: 100%;    
    overflow: auto;
  }
  .care {
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px auto 20px auto;  
    height: 100vh;
    &__box{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      min-height: 300px;
      max-width: 600px;
      color: tomato;
      margin: 20px auto;
      padding: 16px;
    }
    &__text{     
      color: #fff;
      font-family: 'Domine', serif;
      font-family: 'Kaushan Script', cursive;
      font-family: 'Lobster', cursive;
      font-family: 'Noto Serif Display', serif;
      font-family: 'Oswald', sans-serif;
      font-family: 'Poppins', sans-serif;
      font-family: 'Righteous', cursive;
      font-size: 20px;
      font-weight: 400;      
      line-height: 2em;
      text-align: justify;   
      padding: 16px; 
      box-sizing: border-box;
      margin: auto;
    }
  }
  .company {
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px auto 20px auto;  
    height: 100vh;
    &__logo{
    }
    &__img{
      height: auto;   
      margin-top: 100px;
      max-width: 100%;    
      overflow: auto;
    }
  }
  .P7 {
    font-family: 'Domine', serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;    
    font-size: 30px;   
    font-weight: 700;
    text-align: center;
    color: black;
    margin: 16px;
   
  } 
  .P5{
    color: black;
    font-family: 'Domine', serif;
    font-size: 16px;
    font-weight: 400;
    max-height: 100px;
    line-height: 3em;
    text-align: center;    
    max-width: 700px;
    padding: 16px; 
    box-sizing: border-box;
    margin: 16px auto;
  }
  h1 {
    font-family: 'Domine', serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Serif Display', serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #FFE55C;
    margin-bottom: 20px;
    padding: 16px;
  }  
  h2 {
    font-family: 'Domine', serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;  
    letter-spacing: 6px;  
    font-size: 60px;    
    text-align: center;
    color: #FFE55C;
    margin-bottom: 20px;
    padding: 16px;
  }
  h3 {
    font-family: 'Domine', serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    font-size: 60px;    
    letter-spacing: 6px;
    text-align: center;
    color: black;
    margin: 16px;
    padding: 16px;
  }
  .studio{
    background: #E1E1E1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    &__box {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      min-height: 300px;
      margin: 10px auto;    
    } 
    &__text{      
      font-size: 20px;  
      text-align: justify; 
      color: black;
      font-family: 'Domine', serif;
      font-family: 'Kaushan Script', cursive;
      font-family: 'Lobster', cursive;
      font-family: 'Noto Serif Display', serif;
      font-family: 'Oswald', sans-serif;
      font-family: 'Poppins', sans-serif;
      font-family: 'Righteous', cursive;      
      line-height: 2em;         
      max-width: 700px;
      padding: 16px; 
      box-sizing: border-box;
      margin: auto;   
    }
  }
  .nav {
    display: flex;
    margin: 0 auto;
    top: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    background: black;
    min-height: 50px;
    justify-content: space-around;
    align-items: center;
  }
  .hamburger {
    display: none;
    position: absolute;
    color: #fff;
    top: 19px;
    right: 25px;
    border: none;
    background: none;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 30px;
    justify-content: space-between;    
    margin: 0 auto;
    min-width: 500px;   
    &__link {
      color: #FFE55C;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 19px;    
      margin: auto;
      min-width: 100px;
      font-family: 'Domine', serif;
      font-family: 'Kaushan Script', cursive;
      font-family: 'Lobster', cursive;
      font-family: 'Noto Serif Display', serif;
      font-family: 'Oswald', sans-serif;
      font-family: 'Poppins', sans-serif;
      font-family: 'Righteous', cursive;
      font-size: 16px;    
      letter-spacing: 2.7px;
    }
    &__current {
      color: #FFE55C;
      display: flex;
      border-bottom: 2px solid #FFE55C;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 19px;    
      margin: auto;
      min-width: 100px;
      font-family: 'Domine', serif;
      font-family: 'Kaushan Script', cursive;
      font-family: 'Lobster', cursive;
      font-family: 'Noto Serif Display', serif;
      font-family: 'Oswald', sans-serif;
      font-family: 'Poppins', sans-serif;
      font-family: 'Righteous', cursive;
      font-size: 16px;    
      letter-spacing: 2.7px;
    }
  }
  .map-box {
    width: 100%;
    padding: 0%;
    display: flex;  
    justify-content: center;  
    box-sizing: border-box; 
    background: none;
    height: 400px; 
    flex-wrap: wrap;  
    margin: 0%;
    background: #BDBDBD;
  }
  .map {
    margin: 0%;
    height: 100%;
    margin-left: -30px;  
    padding-left: 30px;
    background: #BDBDBD;
  }
  .quote{    
    width: 100%;     
    height: 100vh;
   flex-wrap: wrap;
   min-height: 200px;
   &__google{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
   }
   &__touch {
    display: block;
    margin: 100px 0px ;
    max-width: 230px; 
    &:hover {
      transform: scale(1.2);
      filter: grayscale(10%);
    } 
  }
 } 
.contact {
  background: #BDBDBD;
  display: flex;
  min-height: 500px;
  flex-wrap: wrap;
  padding: 16px;
  justify-content: space-around;
  align-items: center;
  margin: 16px auto 0px auto;
  height: 100vh; 
    &__box{
      display: inline-block; 
      overflow: auto; 
      padding: 20px;
      margin: 0;
    }  
    &__social{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;  
      justify-content: space-around;
      min-width: 250px;  
      min-height: 100px;
      margin: 0 auto 0 auto;
    }  
    &__link{ 
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 250px;  
      min-height: 64px;  
    }
    &__number{
      color: black;
      font-family: 'Domine', serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;    
      max-width: 700px;
      box-sizing: border-box;
      margin: auto;
      max-width: 250px;  
      min-height: 100px;
    }
    &__media {
      min-width: 50px;
      max-height: 50px;
      margin: 0% ;
      padding: 0%;
      filter: grayscale(100%) brightness(-400%);  
      &:hover {
        transform: scale(1.2);
        filter: grayscale(10%);
      }
    }
    &__smartphone {
      max-width: 50px;
      max-height: 50px;
      margin: 0px ;
      justify-content: space-between;  
      &:hover {
        transform: scale(1.2);
        filter: grayscale(10%);
      }
    } 
    &__phone {
      color: black;
      font-family: 'Domine', serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1em;
      text-align: justify;  
      padding: 0; 
      box-sizing: border-box;
      margin: 0;
    } 
  }
}

@media (min-width: 600px){
  .heropanel--video {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    @keyframes gm-slidein {
    from {
        -webkit-transform:translate3d(0,-100%,0);
        opacity:0;
        transform:translate3d(0,-100%,0);
    }
    to {
        -webkit-transform:none;
        opacity:1;
        transform:none;
    }
    }
    .heropanel__content {
    -moz-animation:gm-slidein 3s 1;
    -ms-animation:gm-slidein 3s 1;
    -o-animation:gm-slidein 3s 1;
    -webkit-animation:gm-slidein 3s 1;
    animation:gm-slidein 3s 1;
    max-width: 600px;
    text-align:center;
    margin: auto;
    padding: 0;
    }    
    .heropanel__content h1 {
    margin:0 0 .5em;   
    }    
    .heropanel__content h1 a {
      font-family: 'Domine', serif;
      font-family: 'Kaushan Script', cursive;
      font-family: 'Lobster', cursive;
      font-family: 'Noto Serif Display', serif;
      font-size: 60px;
      font-weight: 700;
      text-align: center;
      color: #FFE55C;
      margin-bottom: 20px;
      padding: 16px;
    
    }
  }